node_modules/
uploads/fiestas/
uploads/imgItems/
uploads/salones/
uploads/galerias/
uploads/invitaciones/
uploads/salones/
uploads/usuarios/
uploads/zips/
uploads/paquetes/   
uploads/musica/
uploads/fondos/
uploads/items/
uploads/proveedores/